<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.estimate.module.management.dao.ServerMapper">

    <select id="selectServerListByUserId" resultType="com.kang.estimate.module.management.entity.Server">
        select *
        from server
        where stsCd='A'
        and userId=#{userId}
    </select>

    <select id="selectServerList" resultType="com.kang.estimate.module.management.entity.Server">
        select *
        from server
        where stsCd='A' and userId=#{userId}
    </select>

    <select id="selectByHost" resultType="com.kang.estimate.module.management.entity.Server">
        select *
        from server
        where stsCd='A'
        and userId=#{userId}
        and host=#{host}
    </select>
</mapper>


